<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airdropjs</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" async defer></script>

  </head>
  <body>

    <header>
      <div class="banner">
        <h1 class="site-title">Airdropjs</h1>
      </div>
    </header>
    <style>
    body{
      padding: 0;
      margin: 0;
    }
     .banner{
       width:100%;
       background-image: linear-gradient(to left,grey,cornflowerblue);
     }
    </style>

    {{{body}}}

  </body>
</html>
