<div class="container" id="upload-successful">
    <div class="upload-box" >

    <div class="content">
      <div class="container-title">
        <h2 id="upload_successful"></h2>
      </div>

      <div class="upload-link">
        <div id="your_carousell_link">你的專屬連結:</div>
        <div class="upload-link-text">{{upload_link}}</div>
      </div>

      <div class="message-area">
        <div class="message-body">
        </div>
      </div>

      <div class="button-container">
        <div class="button" id="btn-back" >
          <div class="button-icon">
            <i class="fa-solid fa-chevron-left fa-2x"></i>
          </div>
          <div class="button-text" id="btn_back_text">back</div>
        </div>

        <div class="button" 
          id="btn-copy-link" 
          data-clipboard-text="{{upload_link}}"
        >
          <div class="button-icon">
            <i class="fa-regular fa-copy fa-2x"></i>
          </div>
          <div class="button-text" id="btn_copy_link_text">copy link</div>
        </div>
        
        <div class="button" 
          id="btn-carousell-link" 
          data-clipboard-text="{{upload_link_carousell}}"
        >
          <div class="button-img">
            </div>
          <div class="button-text" id="btn_copy_carousell_link_text">copy to carousell</div>
        </div>

      </div>
    </div>

  </div>

</div>

<script>
  new ClipboardJS('#btn-copy-link');
  new ClipboardJS('#btn-carousell-link');

  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    timer: 15000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector("#upload_successful").innerHTML = active_lang.UPLOAD_SUCCESSFUL
    document.querySelector("#btn_back_text").innerHTML = active_lang.BACK
    document.querySelector("#btn_copy_link_text").innerHTML = active_lang.COPY_LINK
    document.querySelector("#btn_copy_carousell_link_text").innerHTML = active_lang.COPY_CAROUSELL_LINK
    document.querySelector("#your_carousell_link").innerHTML = active_lang.YOUR_UPLOAD_LINK

    document.querySelector('#btn-back').addEventListener('click', () =>{
      window.location.replace('/upload')
    })

    document.querySelector('#btn-copy-link').addEventListener('click', () => {
      Toast.fire({
        icon: 'success',
        title: active_lang.OK_COPIED,
      });
    });

    document.querySelector('#btn-carousell-link').addEventListener('click', () => {
      Toast.fire({
        icon: 'success',
        title: active_lang.OK_CAROUSELL_COPIED,
      });
    });
  })




</script>
