<div class="container" id="upload-successful">
    <div class="upload-box" >

    <div class="content">
      <div class="container-title">
        <h2>Upload Successful! / 上傳完成 </h2>
      </div>

      <textarea id="w3review" class="copy-text-area" name="w3review" style="

        ">{{upload_link}}
      </textarea> 

      <div class="message-area">
        <div class="message-body">
        </div>
      </div>

      <div class="button-container">
        <div class="button" id="btn-back" >
          <div class="button-icon">
            <i class="fa-solid fa-chevron-left fa-2x"></i>
          </div>
          <div class="button-text" >back</div>
        </div>

        <div class="button" 
          id="btn-copy-link" 
          data-clipboard-text="{{upload_link}}"
        >
          <div class="button-icon">
            <i class="fa-regular fa-copy fa-2x"></i>
          </div>
          <div class="button-text">copy link</div>
        </div>
        
        <div class="button" 
          id="btn-carousell-link" 
          data-clipboard-text="{{upload_link_carousell}}"
        >
          <div class="button-img">
            </div>
          <div class="button-text">copy to carousell</div>
        </div>

      </div>
    </div>

  </div>

</div>

<script>
  new ClipboardJS('#btn-copy-link');
  new ClipboardJS('#btn-carousell-link');

  document.querySelector('#btn-back').addEventListener('click', () =>{
    window.location.replace('/upload')
  })

  document.querySelector('#btn-copy-link').addEventListener('click', () =>{
    document.querySelector('.message-body').innerHTML = `
      <p>link copied</p>
      <p>連結已復製</p>
    `
  })

  document.querySelector('#btn-carousell-link').addEventListener('click', () =>{
    document.querySelector('.message-body').innerHTML = `
      <p>link copied, please paste to carousell message box, Thank you</p>
      <p>連結已復製，請貼到 carousell message box，謝謝</p>
    `
  })

</script>
