<style>
  .container-title {
    display:flex;
    flex-direction: row;
    justify-content: center;

    color: rgba(0,0,0,0.5);
  }

</style>


<div class="container">

  <div class="container-title" >
    <h2>file upload / 檔案上傳</h2>
  </div>

  <form class="upload-form-container" action="upload" method="post" encType="multipart/form-data">

    <div style="margin-top: 3rem;">
      <input type="file" id="file-input" name="supercoolfile" multiple />
      <label for="file-input">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        &nbsp; Choose Files To Upload
      </label>
      <div id="num-of-files">No Files Choosen</div>
      <ul id="files-list"></ul>

    </div>

    <div class="action-buttons">
      <button class="back-button">back</button>
      <input class="upload-button" type="submit" value="upload" />
    </div>
    
  </form>

  <div id="debug"></div>
</div>

<!-- Script -->
<script src="script.js"></script>
