<style>
  .container-title {
    display:flex;
    flex-direction: row;
    justify-content: center;

    color: rgba(0,0,0,0.5);
  }

</style>

<script>
    
  function handleDeleteButtonClick(e) {
    console.log(e);
  }

</script>

<div class="container">
  <div class="upload-box">

    <div class="container-title" >
      <h2>file upload / 檔案上傳</h2>
    </div>

    <form class="upload-form-container" action="upload" method="post" encType="multipart/form-data">
      <input class="upload-button" type="submit" value="upload" hidden />

      <div style="margin-top: 3rem;">
        <input type="file" id="file-input" name="supercoolfile" multiple />
        <label for="file-input">
          <div>
            <i class="fa-regular fa-folder-open"></i>
          </div>

          <div class="open-file-select-button">Choose Files To Upload</div>
        </label>
        <div id="num-of-files">No Files Choosen</div>

        <ul id="files-list">
        </ul>

      </div>

      <div class="button-container-outer">
        <div class="button-container">
            <div id="btn-back" class="button-label">
              <i class="fa-solid fa-chevron-left"></i>
                back
            </div>
          
            <div id="btn-upload" class="button-label disabled">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
                upload
            </div>
        </div>
      </div>
      
    </form>

    <div id="debug"></div>

    <template id="my-template">
      <swal-title>
        喂，點用呀​？
        <ul style="line-height: 1.5rem; text-align: left;">
          <li style="font-size: 1rem; display: flex; flex-direction:row;">
            <div style="min-width: 2rem;">1.</div>
            <div>按 choose files to upload</div>
          </li>
          <li style="font-size: 1rem; display: flex; flex-direction:row;">
            <div style="min-width: 2rem;">2.</div>
            <div>"upload" button enable after you select file, press it</div>
          </li>
          <li style="font-size: 1rem; display: flex; flex-direction:row;">
            <div style="min-width: 2rem;">3.</div>
            <div>click "copy to carousell" button and paste the link copied into message box</div>
          </li>
        </ul>

        <div style="display: flex; flex-direction:row; justify-content: baseline;">
          <div><input type="checkbox" /></div>
          <div style="font-size: 1rem; line-height: 1rem;">helloworld ?</div>
        </div>
      </swal-title>
      <swal-icon type="question"></swal-icon>


      <swal-button type="confirm">
        我明白了
      </swal-button>
      <swal-param name="allowEscapeKey" value="false" />
      <swal-param
        name="customClass"
        value='{ "popup": "my-popup" }' />
      <swal-function-param
        name="didOpen"
        value="popup => console.log(popup)" />
    </template>
  </div>
</div>

<!-- Script -->
<script src="script.js"></script>
