<style>
  .container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
  }
</style>

<script>
  function handleDeleteButtonClick(e) { console.log(e); }
</script>

<div class='container'>

  <div class='upload-box'>

    <div class='container-title'>
      <h2 id='container_title_text'></h2>
    </div>

    <form class='upload-form-container' action='upload' method='post' encType='multipart/form-data'>
      <input hidden name='_uploadid' value='{{_uploadid}}' />
      <input class='upload-button' type='submit' value='upload' hidden />

      <div style='margin-top: 3rem;'>
        <input type='file' id='file-input' name='supercoolfile' multiple />
        <label for='file-input'>
          <div>
            <i class='fa-regular fa-folder-open'></i>
          </div>

          <div class='open-file-select-button' id='btn_choose_file_to_upload'>Choose Files To Upload</div>
        </label>
        <div id='num-of-files'>No Files Choosen</div>
        <ul id='files-list'>

        </ul>

      </div>

      <div class='button-container-outer'>
        <div class='button-container'>
          <div id='btn-back' class='button-label'>
            <i class='fa-solid fa-chevron-left'></i>
            <div id='btn_back_text'></div>
          </div>

          <div id='btn-upload' class='button-label disabled'>
            <i class='fa-solid fa-arrow-up-from-bracket'></i>
            <div id='btn_upload_text'></div>
          </div>
        </div>
      </div>

    </form>

    <div id='debug'></div>

  </div>
</div>

<!-- Script -->
<script src='script.js'></script>