<div class="container" id="upload-successful">
    <div class="upload-box" >

    <div class="content">
      <div class="container-title">
        <h2>Upload Successful! / 上傳完成 </h2>
      </div>

      <textarea id="w3review" class="copy-text-area" name="w3review" style="

        ">{{upload_link}}
      </textarea> 

      <div class="message-area">
        <div class="message-body">
        </div>
      </div>

      <div class="button-container">
        <div class="button" id="btn-back" >
          <div class="button-icon">
            <i class="fa-solid fa-chevron-left fa-2x"></i>
          </div>
          <div class="button-text" >back</div>
        </div>

        <div class="button" 
          id="btn-copy-link" 
          data-clipboard-text="{{upload_link}}"
        >
          <div class="button-icon">
            <i class="fa-regular fa-copy fa-2x"></i>
          </div>
          <div class="button-text">copy link</div>
        </div>
        
        <div class="button" 
          id="btn-carousell-link" 
          data-clipboard-text="{{upload_link_carousell}}"
        >
          <div class="button-img">
            </div>
          <div class="button-text">copy to carousell</div>
        </div>

      </div>
    </div>

  </div>

</div>

<script>
  toastr.options = {
    // 參數設定[註1]
    "closeButton": false, // 顯示關閉按鈕
    "debug": false, // 除錯
    "newestOnTop": false,  // 最新一筆顯示在最上面
    "progressBar": true, // 顯示隱藏時間進度條
    "positionClass": "toast-bottom-left", // 位置的類別
    "preventDuplicates": false, // 隱藏重覆訊息
    "onclick": null, // 當點選提示訊息時，則執行此函式
    "showDuration": "300", // 顯示時間(單位: 毫秒)
    "hideDuration": "1000", // 隱藏時間(單位: 毫秒)
    "timeOut": "500000000", // 當超過此設定時間時，則隱藏提示訊息(單位: 毫秒)
    "extendedTimeOut": "1000", // 當使用者觸碰到提示訊息時，離開後超過此設定時間則隱藏提示訊息(單位: 毫秒)
    "showEasing": "swing", // 顯示動畫時間曲線
    "hideEasing": "linear", // 隱藏動畫時間曲線
    "showMethod": "fadeIn", // 顯示動畫效果
    "hideMethod": "fadeOut" // 隱藏動畫效果
  }

  new ClipboardJS('#btn-copy-link');
  new ClipboardJS('#btn-carousell-link');

  document.querySelector('#btn-back').addEventListener('click', () =>{
    window.location.replace('/upload')
  })

  document.querySelector('#btn-copy-link').addEventListener('click', () =>{

    toastr.success(' ', 'OK copied / 復製左喇 !', {timeOut: 3000, positionClass: 'toast-top-center'});
  })

  document.querySelector('#btn-carousell-link').addEventListener('click', () =>{

    toastr.success(' ', '連結已復製，請貼到 carousell message box，唔該晒', {timeOut: 3000, positionClass: 'toast-top-center'});
  })





</script>
