
<div class="list-card">
  <div class="welcome-directory">
    <h3> Which file would you like to download? </h3>
    <p> Sorry you cannot download folders, thats not how things work, first send it to a compressed ZIP or something</p>
  </div>
  <div class="art-directory">
  </div>
  <ul class="directory-ul">
    {{#each files}}
      <li><a href="{{f}}">{{f}}</a></li>
    {{/each}}
  </ul>
  <br /><br />
  <a href="upload">Upload a file</a>
</div>
<style>

li{
  list-style-type: none;
  line-height: 1.5em;
  font-size: 2em;
}
a:link,
a:visited{
  color: cornflowerblue;
}

.list-card{
  margin: auto;
  width: 500px;
}
</style>
