<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="upload.css" />

<style>
  .page-footer {

  }

  .page-footer-container {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


</style>

<div class="page">
  
  {{{body}}}

  <div class="page-footer-container">
    <div class="page-footer">
      © 2022 louis portfolio source
    </div>
  </div>

</div>